@import './var';
@import './mixins';

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 20px;
  }
}

.fine {
  background: var(--gradient-main) no-repeat top;
  background-size: 100% 185px;
  h1 {
    padding-top: 5px;
  }
}

.title {
  &__h1 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--white-color);
    padding-bottom: 20px;
  }

  &__h2 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--font-color);
  }

  &__h3 {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: var(--font-color);
  }

  &__h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}

.white {
  color: var(--white-color)
}
