@import "../../../styles/var";

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  @media (max-width: $md3+px) {
    gap: 20px;
  }
}

.title {
  text-align: center;
  padding: 20px 0;
  font-size: 32px;
  font-weight: bold;
}
